{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-syntax-dynamic-import", ["import", { "libraryName": "ant-design-vue", "libraryDirectory": "es", "style": "css" }]],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["dynamic-import-node"]
    }
  }
}
